<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
  th {
    text-align: center;
  }

  td {
    text-align: center;
  }

  #devices {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  }

  #devices td, #devices th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #devices tr:nth-child(even){
    background-color: #f2f2f2;
  }

  #devices tr:hover {
    background-color: #ddd;
  }

#devices th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: white;
}
</style>
  
  <table id="devices">
    <ng-container>
      <th>排序</th>
      <th>設備名稱</th>
      <th>測點名稱</th>
      <th></th>
      <tr *ngFor="let device of devices;let i = index;">
        <td>{{ i+1 }}</td>
        <td>{{ device.device_name }}</td>
        <td>{{ device.signal_id }}</td>
        <td>
          <button type="button" class="btn btn-primary">選擇</button>
        </td>
      </tr>
    </ng-container>
  </table>
  <br />
  <div id="showSelectItem">選擇項目：</div>

