<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <table id="devices">
    <ng-container>
      <th>排序</th>
      <th>設備名稱</th>
      <th>測點名稱</th>
      <th></th>
      <tr *ngFor="let device of devices;let i = index;">
        <td>{{ i+1 }}</td>
        <td>{{ device.device_name }}</td>
        <td>{{ device.signal_id }}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="onSelect(device)">選擇</button>
        </td>
      </tr>
    </ng-container>
  </table>
  <br />
  <div id="showSelectItem">
    選擇項目：<span>{{ selectDevice }}</span>
  </div>

